{% extends "notatki/base.html" %}
{% load  crispy_forms_tags %}
{% block content %}
<div class="container p-5 my-2 bg-dark text-white rounded-3 shadow-lg pt-4">
  <form method="post">
  {% csrf_token %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning">
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <input type="text" name="tag_name" placeholder="Wprowadź nowy tag">
  <input type="submit" name="add_tag" value="Dodaj Tag">

  {% for tag in object_list %}
    <div class="container">
      <ul>
        <li>
          {{ tag.name }}
          <input type="checkbox" name="selected_tags" value="{{ tag.id }}">
        </li>
      </ul>
    </div>
  {% endfor %}

  <input type="submit" name="delete_selected" value="Skasuj zaznaczone notatki">


</form>
</div>
{% endblock %}